{% extends 'base.html.twig' %}

{% block body %}
        <h1>{{ parentCategory.title }} list</h1>
        <h2>Description: {{ parentCategory.description }}</h2>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}

        {#@var product \ProductsBundle\Entity\Product#}

        <tr>
            <td><a href="{{ path('product_view', { 'id': product.id}) }}">{{ product.title}}</a></td>
            <td><a href="{{ path('product_view', { 'id': product.id }) }}"><img width="100px" height="100px" src="{{ asset('uploads/product/' ~ product.image) }}"></a></td>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}