{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productcategory</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productCategory.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ productCategory.slug }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ productCategory.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ productCategory.description }}</td>
            </tr>
            <tr>
                <th>Rank</th>
                <td>{{ productCategory.rank }}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{% if productCategory.createdAt %}{{ productCategory.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>{% if productCategory.updatedAt %}{{ productCategory.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            {% if productCategory.parent != null %}
                <tr>
                    <th>Parent category:</th>
                    <td>{{ productCategory.parent }}</td>
                </tr>
            {% endif %}
            {% if productCategory.image != null %}
            <tr>
                <th>Image Preview:</th>
                <td><img width="300px" src="{{ asset('uploads/product-category/' ~ productCategory.image) }}"></td>
            </tr>
            {% endif %}
            {% if productCategory.children|length > 0%}
            <tr>
                <th>Children categories:</th>
                <td>
                    <ul>
                {% for child in productCategory.children %}
                    <li>{{ child }}</li>
                {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_product-category_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_product-category_edit', { 'id': productCategory.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
