{% extends 'base.html.twig' %}

{% block body %}
    {% if parentCategory is defined %}
        <h1>{{ parentCategory.title }} list</h1>
    {% else %}
        <h1>Category list</h1>
    {% endif %}
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}

        {#@var product \ProductsBundle\Entity\Product#}

        <tr>
            <td><a href="{{ path('admin_product_view', { 'id': product.id}) }}">{{ product.title}}</a></td>
            <td><a href="{{ path('admin_product_view', { 'id': product.id }) }}"><img width="100px" height="100px    " src="{{ asset('uploads/product/' ~ product.image) }}"></a></td>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}